 <section id="about" class="row">
        <div class="page about-content">
            <div class="col about-title">
                <h3
                    data-100="-webkit-transform: translateX(100px); opacity:0;"
                    data-500="-webkit-transform: translateX(0px); opacity:1;"
                >About me</h3>
            </div>
            <div class="col empty">&nbsp;</div>
            <div class="col about-description">
                <p
                    data-100="opacity:0;"
                    data-500="opacity:1;"
                >Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
                <a href="#" class="but">Get in touch</a>
            </div>
            <div class="col empty">&nbsp;</div>
        </div>
    </section>
    
    <hr>

    <section id="contact" class="row">
        <div class="contact-content page">
            <div class="col contact-title">
                <h3
                    data-100="-webkit-transform: translateX(100px); opacity:0;"
                    data-500="-webkit-transform: translateX(0px); opacity:1;"
                >Get in touch</h3>
            </div>
            <div class="col empty">&nbsp;</div>
            <div class="col contact-description">
                <a href="#" class="but">carey.willette@gmail.com</a>
            </div>
            <div class="col empty">&nbsp;</div>
            <div class="col span_12 social">
                <a class="icon-twitter" href="#" target="_blank"></a>
                <a class="icon-github" href="#" target="_blank"></a>
                <a class="icon-instagram" href="#" target="_blank"></a>
                <a class="icon-linkedin" href="#" target="_blank"></a>
            </div>
        </div>
    </section>

    <footer id="footer" class="row">
        <div class="footer-content page">
            <div class="col f1">
                <p>© 2016 Carey Willette.</p>
            </div>
        </div>
    </footer>

</div>